<!-- AngularJS module reference -->
<html ng-app="chessknight">

<head>
    <!-- Title and Metadata informations -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control: max-age=3600, must-revalidate" />
    <meta name="description" content="Chess Knight">
    <title>Chess Knight</title>

    <!-- CSS reference -->
    <link rel="stylesheet" href="assets/css/styles-1.0.0.min.css">
</head>

<body>
    <!-- Controller declaration -->
    <div ng-controller="chessCtrl as vm">
        <!-- Div to create the matrix inside it -->
        <div id="chessboard" class="divTable">
            <!-- Div to organize the rows and squares -->
            <div class="divTableBody">
                <!-- This Divs criate with the controller matrix and ng-repeat the Chesboard in html.  -->
                <div class="divTableRow" ng-repeat="row in vm.chessboard track by $index">
                    <div class="divTableCell" id="{{square}}" ng-repeat="square in row track by $index" ng-click="vm.highlightsAndKnightOnSquareClick(square)">
                        {{square}}
                    </div>
                </div>
            </div>
        </div>
        <!-- Div for elements to execute actions on html -->
        <div id="divActions">
            <!-- Div to organize the action elements  -->
            <div id="divActionElements">
                <div>
                    <!-- Selects for making the Chessboard dynamic -->
                    <label for="length">Length</label>
                    <select name="length" ng-model="vm.length" ng-options="length for length in vm.sizes" ng-change="vm.makeMap()">
                    </select>
                    <label for="width">Width</label>
                    <select name="width" ng-model="vm.width" ng-options="width for width in vm.sizes" ng-change="vm.makeMap()">
                    </select>
                </div>
                <!-- Button to send the API requisition -->
                <button id="btnHighlights" class="button" ng-click="vm.highlightsAndKnightOnButtonClick()">Highlights</button>
                <!-- Checkbox to validate the API requisition method -->
                <div id="divCbHighlights">
                    <input id="cbHighlights" name="cbHighlights" type="checkbox" ng-model="vm.checked">
                    <label for="cbHighlights">Highlights on Square Click.</label>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript files reference - angular, angular route, jquery and typescript transpilation  -->
    <script src="assets/js/scripts-1.0.0.min.js"></script>
    <script src="assets/js/app-1.0.0.min.js"></script>
</body>

</html>